doctype html
html(lang="en")
  head
    title Neurology Excellence Center
    link(rel='stylesheet', href='/stylesheets/nav.css') 
  body
    header
      nav
        ul.navbar
          li: a(href='/') Home
          li: a(href='/login') Log In
          li: a(href='/centers') Centers
          li: a(href='/reviews') Reviews
      div.centered
        h1 Welcome to Neurology Excellence Center
        
